.main-layout {
  display: flex;
  flex-direction: column;
}

.layout-body {
  flex: 1;
  display: flex;
  background-color: #f0f2f5;
  position: relative;
  align-items: flex-start;
  /* Sidebar and Content don't stretch each other */
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 20px;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #888;
  font-size: 0.8rem;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  z-index: 5;
}